<%= image_tag "layout/aboutTitle.png", id: "contentTitle" %>
<div class="row">
  <div class="col-md-3 col-xs-12">
    <%= image_tag "layout/maxl2.png", class: "img-responsive", id: "maxl" %>
  </div>
  <div class="col-md-8 col-xs-12">
      <%= image_tag "layout/aboutText.png", class: "img-responsive", id: "aboutText" %>
  </div>
</div>
    <a href="<%= root_path %>">
      <%= image_tag "layout/backButton.png", id: "backButton" %>
    </a>