<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags %>
    <%= stylesheet_link_tag :application, :media => "all" %>
    <%= csrf_meta_tags %>
</head>
</head>
<body style="background-color: black">
  <div class="container" id="content" style="background-color: white;">
      <div class="row">
          <div class="col-md-4 col-xs-12">
            <!--<a href="/works">-->
              <%= image_tag "/assets/layout/works.png", class: "img-responsive", style: "margin: 0px auto" %>
            <!--</a>-->
          </div>
          <div class="col-md-4 col-xs-12">
            <a href="/about">
              <%= image_tag "/assets/layout/about.png", class: "img-responsive", style: "margin: 0px auto" %>
            </a>
          </div>
          <div class="col-md-4 col-xs-12">
            <a href="/contact">
              <%= image_tag "/assets/layout/contact.png", class: "img-responsive", style: "margin: 0px auto" %>
            </a>
          </div>
      </div>
      <%= yield %>
      <div style="color: #ffffff; margin-bottom: -60px; margin-top: 60px;">&copy; burningframes.com</div>
  </div>
  <%= javascript_include_tag :application %>
</body>
</html>