<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags %>
    <%= stylesheet_link_tag :application, :media => "all" %>
    <%= csrf_meta_tags %>
</head>
</head>
<body style="background-color: black">
  <div class="container" id="content" style="background-color: white;">
      <%= image_tag "layout/mask.png", class: "img-responsive", id: "logo" %>
      <%= yield %>
  </div>
  <%= javascript_include_tag :application %>
  <script src="assets/sliderengine/jquery.js"></script>
  <script src="assets/sliderengine/amazingslider.js"></script>
  <script src="assets/sliderengine/initslider-1.js"></script>-->
</body>
</html>
